.footer_info{
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.footer_link{
    color: black;
    text-decoration: none;
    font-weight: 600;
    padding: 5px 5px;
}
span{
    color:var(--text-color);
    opacity: 90%;
    font-weight: 400;
    
}