header {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: var(--bg-header-color);
    border-radius: 25px;
}

.logo {
    width: 100%;
    height: auto;
    display: flex;
    align-content: center;
    border-radius: 50%;
    border: 3px solid black;
}

.header_nav_sticky {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px auto;
}

.nav_main {
    color: var(--text-color);
    text-decoration: none;
    text-align: center;
}

.nav_main:hover {
    text-decoration: underline;
    font-size: 20px;
    font-weight: 600;
}

@media(min-width:500px) {
    /* header{
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    height:165px;
} */

    .nav_logo_bar {
        display: flex;
        flex-direction: row;
    }

    .logo {
        max-width: 50%;
        max-width: 100px;
        display: flex;
        flex-direction: row;
        align-content: flex-start;
    }

    .nav_logo_bar {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;

    }
}

@media (min-width:650px) {
    header{
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
        height:165px;
    }
.logo {
    max-width: 100px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
    .header_nav_sticky {
        display: flex;
        flex-direction: row;
        align-content: flex-end;
    }

    .nav_main {
        padding: 15px;
    }

}