header{
    display: flex;
    flex-direction: column;
    align-content: center;
    
}
img {
    width: 100%;
    display: flex;
    align-content: center;
}
.header_nav_sticky{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px auto;
}
.nav_main{
    color: var(--text-color);
    text-decoration:none;
}

